.linkHeader {
  border-radius: var(--mantine-radius-default);
}

.linkChildren {
  background-color: var(--mantine-primary-color-0);
  border-radius: var(--mantine-radius-default);
  transition: all 0.2s ease-in-out;
}

.link {
  border-radius: var(--mantine-radius-default);
  font-weight: 500;

  @mixin hover {
    background-color: var(--mantine-primary-color-0);
    transition: all 0.2s ease-in-out;
  }
}
